.PhotoWall {
  height: 382px;
  background: rgb(197, 197, 197);
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  overflow-y: scroll;
  background: rgba(245, 245, 245, 0.84);
  border-radius: 29px;
  font-size: 16px;
  padding: 2em 5em;

  .upload-holder {
    background: url("~@/assets/images/upload-icon.png") no-repeat;
    background-position: center;
    background-size: 34%;
    width: 100%;
    
  }

  &::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff34;
    &:hover {
      background-color: #27272746;
    }
  }

  .Photo {
    --size: 86px;
    width: var(--size);
    height: var(--size);
    border-radius: 10%;
    cursor: pointer;
    margin: 20px 40px;
    position: relative;
  }
}
