.PhotoWall {
  height: 400px;
  margin-top: 40px;
  background: rgb(197, 197, 197);
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff34;
    &:hover {
      background-color: #27272746;
    }
  }

  .Photo {
    --size: 86px;
    width: var(--size);
    height: var(--size);
    border-radius: 10%;
    cursor: pointer;
    margin: 20px 40px;
    position: relative;
  }
}
