.curtain {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
  background-attachment: fixed;
  filter: blur(0.5);
  position: fixed;
  -webkit-filter: blur(0.5);
  position: relative;
}

.LoadingImg {
  width: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
